@font-face {
  font-family: 'Neue Montreal';
  src: url('../fonts/NeueMontreal-Regular.woff2') format('woff2'),
    url('../fonts/NeueMontreal-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EditorialNewUltralight';
  src: url('../fonts/EditorialNewUltralight.eot');
  src: url('../fonts/EditorialNewUltralight.eot') format('embedded-opentype'),
    url('../fonts/EditorialNewUltralight.woff2') format('woff2'),
    url('../fonts/EditorialNewUltralight.woff') format('woff'),
    url('../fonts/EditorialNewUltralight.ttf') format('truetype'),
    url('../fonts/EditorialNewUltralight.svg#EditorialNewUltralight') format('svg');
    font-display: swap;
}

:root {
  --white-color: #ffffff;
  --black-color: #141414;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--black-color);
  background: var(--white-color);
}

::selection {
  color: var(--black-color);
  background: var(--white-color);
}

html,
body {
  scroll-behavior: auto;
  margin: 0;
  padding: 0;
  background-color: var(--black-color);
}

body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.centered-container {
  position: fixed; /* Absolute Positionierung im Viewport */
  top: 0; /* Oben im Viewport */
  left: 0; /* Links im Viewport */
  width: 100%; /* Volle Breite */
  height: 100%; /* Volle Höhe */
  display: none; /* Standardmäßig versteckt */
  align-items: center; /* Vertikales Zentrieren */
  justify-content: center; /* Horizontales Zentrieren */
  z-index: 9999; /* Über allen anderen Elementen */
  background: rgba(0,0,1); /* Optional: leichter Hintergrund, um den Text hervorzuheben */
}

.centered-text {
  text-align: center;
  color: white; /* Farbe des Texts, je nach Hintergrund anpassen */
}

.button-icon {
  width: 32px;
  /* Set the width as needed */
  height: 32px;
  /* Set the height as needed */
  /* Additional styles as needed */
}

.header {
  display: flex;
  justify-content: space-between;
  /* Platz zwischen den beiden Spalten verteilen */
  align-items: center;
  /* Vertikal zentrieren */
}

.header__column {
  flex: 1;
  /* Verteilt den verfügbaren Platz gleichmäßig zwischen den beiden Spalten */
  text-align: center;
  /* Text horizontal zentrieren */
}

.header__column h1 {
  margin: 0;
  /* Entfernt den Standardabstand des h1-Tags */
}

.header__button {
  z-index: 2;
  width: 64px;
  height: 64px;
  border-radius: 16px;
  background-color: var(--white-color);
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin: 32px;
  outline: none;
  animation-duration: 300ms;
  animation-timing-function: ease;
  position: fixed;
  mix-blend-mode: difference;
}

.header__button[data-open="true"] {
  background-color: var(--white-color);
  animation-name: scale;
}

.header__button[data-open="false"] {
  transition: background-color 250ms linear;
}

@keyframes scale {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(100%);
  }
}

.header__nav {
  background-color: var(--black-color);
  position: fixed;
  overflow: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 32px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  clip-path: polygon(var(--radius) at calc(100% - 55px) 47px);
  background: rgba(20, 20, 20, 0.8);
  display: flex;
  /*
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -ms-backdrop-filter: blur(5px);
  */
  flex-direction: row;
  gap: 16vw;
}

.header__nav[data-active="true"] {
  visibility: visible;
}

.header__menu-container {
  display: flex;
  gap: 24px;
}

.header__menu_left,
.header__menu_right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header__menu-item_left,
.header__menu-item_right {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.header__menu-item_left h1,
.header__menu-item_right h4 {
  margin: 0;
  transition: transform 0.3s ease;
  white-space: nowrap;
  transform: translateX(0);
}

.header__menu-item_left:hover h1,
.header__menu-item_right:hover h4 {
  transform: translateX(16px);
}

.header__menu-item_right::before {
  content: '';
  position: absolute;
  left: -16px;
  top: 40%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.3s ease;
}

.header__menu-item_left::before {
  content: '';
  position: absolute;
  left: -16px;
  top: 35%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.3s ease;
}

.header__menu-item_left:hover::before,
.header__menu-item_right:hover::before {
  content: '';
  opacity: 1;
  transform: translateY(0px);
}

/* Den benutzerdefinierten Cursor-Stil hinzufügen */
.custom-cursor {
  position: fixed;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}

#cursor {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
  mix-blend-mode: difference;
  
}

@media (hover: hover) and (pointer: fine) {
  .cursor__circle {
    width: 64px;
    height: 64px;
    margin-top: -50%;
    margin-left: -50%;
    border-radius: 50%;
    border: solid 1px rgb(255, 255, 255);
    transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      height 0.3s cubic-bezier(0.25, 1, 0.5, 1);

  }

  #cursor.arrow_drag .cursor__circle {
    width: 128px;
    height: 128px;
    background-color: #000;
    border-color: #000;
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(5px);
  }

  #cursor.arrow_drag::after {
    content: '';
    position: absolute;
    left: -50%;
    top: -50%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/drag_me.svg');

  }

  #cursor.arrow_click .cursor__circle {
    width: 128px;
    height: 128px;
    background-color: #000;
    border-color: #000;
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(5px);
  }

  #cursor.arrow_click::after {
    content: '';
    position: absolute;
    left: -50%;
    top: -50%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/click_me.svg');

  }

  #cursor.subtle .cursor__circle {
    opacity: 0.16;
  }

  #cursor.overlay .cursor__circle {
    width: 48px;
    height: 48px;
    background-color: rgba(194, 194, 194, 0.08);
    border-color: transparent;
    z-index: 9999;
  }
}

.sticky-element {
  position: fixed;
  right: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  mix-blend-mode: difference;
  transition: bottom 0.3s ease-in-out;
  /* Animation des Einfadens */
  bottom: -100px;
  /* Die Startposition unterhalb des Viewports */
  z-index: 9999;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -ms-backdrop-filter: blur(5px);
}

.sticky-element.show {
  bottom: 32px;
  /* Die Position, wenn der Sticky-Button eingeblendet ist */
}

.white-circle {
  width: 64px;
  /* Passe die Größe des Kreises an */
  height: 64px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* Bild über Kreisgrenzen hinaus ausblenden */
}

.sticky-image {
  width: 32px;
  height: auto;
  object-fit: cover;
  /* Bild im Kreis zentrieren und zuschneiden */
  border-radius: 50%;
}

h1 {
  color: var(--white-color);
  font-family: "EditorialNewUltralight";
  font-size: 5vw;
  line-height: 5.417vw;
  -webkit-font-smoothing: antialiased;
}

h2 {
  color: var(--black-color);
  font-size: 3.750vw;
  line-height: 4.167vw;
  font-family: 'Neue Montreal';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

h3 {
  color: var(--white-color);
  font-size: 3.333vw;
  line-height: 3.750vw;
  font-family: 'Neue Montreal';
  -webkit-font-smoothing: antialiased;
}

h4 {
  color: var(--white-color);
  font-size: 48px;
  line-height: 56px;
  font-family: 'Neue Montreal';
  -webkit-font-smoothing: antialiased;
}


h5 {
  color: var(--white-color);
  font-family: "Neue Montreal";
  font-size: 40px;
  line-height: 48px;
  -webkit-font-smoothing: antialiased;
}

h6 {
  color: var(--white-color);
  font-family: "Neue Montreal";
  font-size: 32px;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
}

p {
  color: var(--white-color);
  font-family: "Neue Montreal";
  font-size: 24px;
  line-height: 32px;
  -webkit-font-smoothing: antialiased;
}

li {
  color: var(--white-color);
  font-family: "Neue Montreal";
  font-size: 24px;
  line-height: 32px;
  -webkit-font-smoothing: antialiased;
}

small {
  font-family: "Neue Montreal";
  color: var(--white-color);
  opacity: 100%;
  font-size: 14px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  margin: 0px 0px 4px 0px;
  display: block;
}

hr {
  border: 1px solid var(--white-color);
}

a {
  color: var(--white-color);
  font-family: "Neue Montreal";
  font-size: 24px;
  line-height: 32px;
  -webkit-font-smoothing: antialiased;
}

.cta {
  font-family: "Neue Montreal";
  border: 1px solid var(--white-color);
  font-size: 20px;
  text-transform: uppercase;
  padding: 16px 24px 16px 24px;
  border-radius: 50px;
  color: var(--white-color);
  display: inline-block;
  transition: 0.3s;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

.cta:hover {
  font-family: "Neue Montreal";
  border: 1px solid var(--black-color);
  font-size: 20px;
  text-transform: uppercase;
  padding: 16px 24px 16px 24px;
  border-radius: 50px;
  color: var(--black-color);
  display: inline-block;
  background-color: var(--white-color);
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

.hero {
  max-width: 100%;
  position: relative;
  height: calc(100vh);
  /*height: calc(100vh - 64px);*/
  /*margin: 32px;*/
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 32px;
  mix-blend-mode: difference;
}

.hero img {
  width: 5%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 32px;
  mix-blend-mode: difference;
}

.hero h5 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 32px;
  mix-blend-mode: difference;
}

.image-section {
  margin: 0px 32px 0px 32px;
  padding-top: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper {
  max-width: 100%;
  display: contents;
  margin: 0;
}

.image-wrapper img {
  display: block;
  max-width: 33%;
  height: auto;
  border-radius: 16px;
}

.content-section {
  max-width: 100%;
  display: grid;
  padding: 160px 0px 0px 0px;
  margin: 0px 32px 0px 32px;
}

.content-section-detail {
  max-width: 100%;
  display: grid;
  padding: 48px 0px 128px 0px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "left-col left-col left-col left-col left-col right-col right-col right-col right-col right-col right-col right-col";
  gap: 24px;
}

.content-section-information {
  grid-area: right-col;
  text-align: left;
}

.content-section-information p {
  padding-bottom: 32px;
  text-indent: 96px;
  text-align: justify;
}

.content-section-about-me-images {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.content-section-about-me-images img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.content-section-about-me-images img:nth-child(1) {
  margin-top: 0px;
  /* Adjust the margin as needed */
}

.content-section-about-me-images img:nth-child(2) {
  margin-top: 256px;
  /* Adjust the margin as needed */
}

.content-section-about-me-images img:nth-child(3) {
  margin-top: 128px;
  /* Adjust the margin as needed */
}


/* Services */
.services-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* Container-Inhalte umbrechen */
}

.left-half {
  width: 50%;
  padding: 96px 64px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}

.right-half {
  width: 50%;
  padding: 96px 64px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 16px;
}

.content {
  display: block;
  /* Change to block to stack elements vertically */
}

.content .h3 {
  margin-bottom: 32px;
}

.content .h4 {
  margin-bottom: 24px;
}

.content .space {
  margin-bottom: 32px;
}

.content hr.services-divider {
  margin: 48px 0px 48px 0px;
  border: solid 1px var(--white-color);
}

.left-half {
  background-color: white;
  color: black;
  border-radius: 16px 0px 0px 16px;
  order: 1;
  /* Ändere die Reihenfolge auf 1 (links) */
}

/* projects */

.menu__item {
  position: relative;
}

.menu__item-link {
  cursor: pointer;
  position: relative;
  color: #fff;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  font-family: "Neue Montreal";
  text-transform: uppercase;
}

.menu__item-link::before {
  all: initial;
  text-transform: uppercase;
  counter-increment: menu;
  position: absolute;
  left: 0;
  pointer-events: none;
}

.menu__item-link:hover {
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  opacity: 0;
}

.menu__item-img {
  pointer-events: none;
  position: absolute;
  height: 30vh;
  max-height: 400px;
  opacity: 0;
  left: 100%;
  top: 50%;
  -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
  transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.menu__item-link:hover+.menu__item-img {
  opacity: 1;
  -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
  transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.menu {

  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  font-size: 4.167vw;
  line-height: 5.833vw;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #fff;
  pointer-events: none;
  mix-blend-mode: difference;
}

.marquee__inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-animation: marquee 5s linear infinite;
  animation: marquee 5s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.menu__item-link:hover~.marquee .marquee__inner {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.menu__item-link,
.marquee span {
  white-space: nowrap;
  padding-right: 2vw;
}

.marquee span {
  font-family: 'Neue Montreal' !important;
  text-transform: uppercase;
}

.marquee-divider {
  border: 1px solid #ffffff;
  margin: 24px 0px 24px 0px;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
    transform: translate3d(var(--move-final), 0, 0);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
    transform: translate3d(var(--move-final), 0, 0);
  }
}

.right-half {
  border: solid 1px #ffffff;
  border-radius: 0px 16px 16px 0px;
  order: 2;
  /* Ändere die Reihenfolge auf 2 (rechts) */
}

/* Stil für den Abschnitt */
.lab-section {
  margin: 0px 32px 0px 32px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* Aufteilung in 12 Spalten */
  grid-gap: 24px;
  /* Lücke von 24px zwischen den Spalten */
}

/* Stil für den H3-Titel */
.lab-section-title {
  grid-column: span 3;
  /* Nimmt die ersten 3 Spalten ein */
}

.lab-section-empty {
  grid-column: span 1;
  /* Nimmt 1 Spalte ein */
}

.lab-section-title h3 {
  margin-bottom: 64px;
}

.lab-section-publish {
  margin-bottom: 64px;
}

.lab-section-description {}

.lab-section-title h5 {
  text-transform: uppercase;
  margin-bottom: 8px;
}

/* Stil für das Bild und den Bildcontainer */
.lab-section-image {
  grid-column: span 8;
  /* Nimmt die nächsten 8 Spalten ein */
  display: flex;
  flex-direction: column;
}

.image-container-small {
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  max-width: 100%;
  display: grid;
  margin: 24px 0px 0px 0px;
}

.image-container-small img {
  width: 100%;
}

.image-container-small-extra {
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  max-width: 100%;
  display: grid;
  margin: 24px 0px 24px 0px;
}

.image-container-small-extra img {
  width: 100%;
}

.image-container-big {
  grid-template-columns: 1fr;
  gap: 24px;
  max-width: 100%;
  display: grid;
  margin: 24px 0px 0px 0px;
}

.image-container-big img {
  width: 100%;
}

.image-container-big video {
  width: 100%;
}

.lab-section-divider-top {
  margin: 0px 32px 32px 32px;
  max-width: 100%;
}

.lab-section-divider-middle {
  margin: 32px;
  max-width: 100%;
}

.lab-section-divider-bottom {
  margin: 0px 32px 0px 32px;
  max-width: 100%;
}


.footer-section {
  margin: 320px 32px 320px 32px;
  max-width: 100%;
  text-align: center;
}

.footer-section-information {
  /* Set the container to be a flex container to allow the <p> elements to stand beside each other */
  display: flex;
  /* Add space between the <p> elements */
  gap: 96px;
  justify-content: center;
  padding: 64px 0px 64px 0px;
}

.footer-section-information p {
  position: relative;
  display: inline-block;
  padding-left: 0;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.footer-section-information p:hover {
  transform: translateX(16px);
}

.footer-section-information p::before {
  content: '';
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  /* Choose your desired circle color */
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.footer-section-information p:hover::before {
  opacity: 1;
}

.footer-section-image {
  display: flex;
  /* Use flexbox to center the image */
  align-items: center;
  /* Center vertically */
  justify-content: center;
  /* Center horizontally */
}


.footer-section-image img {
  margin: 0;
  display: block;
  transition: transform 0.3s ease;
  /* Add smooth transition for scaling and rotation */
}

.footer-section-image img:hover {
  transform: scale(1.2) rotate(-15deg);
  /* Scale by 1.2 and rotate -15 degrees on hover */
}

footer {
  background-color: #ffffff;
  margin-top: 32px;
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}

footer span {
  font-family: "EditorialNewUltralight";
  font-size: 24px;
  line-height: 32px;
  color: var(--black-color);
  -webkit-font-smoothing: antialiased;
}

.contact-information-left,
.contact-information-middle,
.contact-information-right {
  display: inline-block;
  /* or use display: inline; */
  text-align: left;
  position: relative;
}

.contact-information-left {
  grid-column: 1 / span 8;
  /* Place the left text part in columns 1 to 4 */
}

.contact-information-middle {
  grid-column: 9 / span 2;
  /* Place the middle text part in columns 5 to 8 */
}

.contact-information-right {
  grid-column: 11 / span 2;
  /* Place the right text part in columns 9 to 12 */
}

/* CSS for the hover effect */
span {
  position: relative;
  left: 0;
  transition: left 0.2s ease;
  cursor: pointer;
}

span:hover {
  left: 16px;
  /* Move the span to the right on hover */
}

span:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -16px;
  /* Position the circle to the left */
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #000000;
  /* Circle color */
  border-radius: 50%;
}

.slider {
  max-width: 100%;
  margin: 0px 0px 0px 32px;
  overflow:hidden;
}

.slider-wrapper {
  white-space: nowrap;
}

.slider-item {
  display: inline-block;
  width: 40vw;
  padding-right: 24px;
}

.slider-item figure {
  border-radius: 16px;
  position: relative;
  margin-bottom: 8px;
}

.slider-item figure img {
  border-radius: 16px;
  position: relative;
  width: 100%;
  object-fit: cover;
}

.slider-item p {
  position: relative;
  left: 0;
  transition: left 0.3s ease;
  display: inline-block;
}

.slider-item p:hover {
  left: 16px;
  cursor: pointer;
}

.slider-item p:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 50%;
}

.slider-progress {
  position: relative;
  bottom: 0;
  left: 0;
  width: 20vw;
  height: 2px;
  margin-top: 96px;
  background: rgba(255, 255, 255, 0.1);
}

.slider-progress-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  transform: scaleX(0);
  transform-origin: 0% 0%;
}

.counter-wrap {
  position: relative;
  width: max-content;
  height: max-content;
}

.counter-revealer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.counter-wrap {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.counter-wrap h1 {
  position: relative;
  top: 0;
  font-family: "EditorialNewUltralight";
}

.counter-revealer:after {
  content: "";
  position: absolute;
  top: -400px;
  width: 100%;
  height: 100%;
  background: var(--black-color);
}

/* CASE STUDIES START */

.case_study__lunery_skincare_bg {
  background-color: #E0E0E0;
}

.case_study__lunery_skincare_color {
  color: var(--black-color);
}

.case_study__container {
  margin: 0px 32px 0px 32px;
  max-width: 90%;
  position: relative;
  padding: 30vh 0 96px 0;
}

.case_study__container_headline {}

.case_study__container_subheadline {
  margin: 16px 0 0 0;
  font-size: 24px;
}

.case_study_projects__container {
  margin: 0px 32px 0px 32px;
  max-width: 100%;
}

.case_study_projects_images img {
  width: 100%;
  display: block;
}

.case_study_projects_images video {
  width: 100%;
  display: block;
  pointer-events: none;
}

.case_study_information__container {
  max-width: 100%;
  display: grid;
  padding: 128px 32px 128px 32px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "left-col left-col left-col left-col left-col right-col right-col right-col right-col right-col right-col right-col ";
  gap: 24px;
}

.case_study_information_divider__container {
  padding: 32px 0 32px 0;
  position: relative;
}

.case_study_information_left {
  grid-area: left-col;
  text-align: left;
}

.case_study_information_left h4 {
  margin-bottom: 24px;
  text-transform: uppercase;
}

.case_study_information_right {
  grid-area: right-col;
  text-align: left;
}

.case_study_information_right h4 {
  margin-bottom: 24px;
  text-transform: uppercase;
}

.case_study_information_empty {
  grid-area: empty-col;
  text-align: left;
}

.case_study_images__container {
  padding: 0px 32px 0px 32px;
  max-width: 100%;
  row-gap: 32px;
  margin-bottom: 24px;
  display: grid;
  flex-wrap: wrap;
}

.case_study_images__container img {
  width: 100%;
  display: block;
}

.case_study_videos__container {
  padding: 0px 32px 0px 32px;
  margin: 24px 0 0 0;
  max-width: 100%;
  column-gap: 32px;
  display: grid;
  flex-wrap: wrap;
}

.case_study_videos__container video {
  width: 100%;
  display: block;
}

/* Neue Klasse für das 50/50 Layout hinzufügen */
.case_study_images__50_50 {
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  padding: 0px 32px 0px 32px;
  max-width: 100%;
  display: grid;
  flex-wrap: wrap;
  margin-top: 24px;
}

.case_study_images__50_50 img {
  width: 100%;
  display: block;
}

.case_study_extra_information__container {
  max-width: 100%;
  padding: 128px 32px 128px 32px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "left-col left-col left-col left-col left-col left-col right-col right-col right-col right-col right-col right-col";
  column-gap: 32px;
}

.case_study_extra_information_left {
  grid-area: left-col;
  text-align: left;
}

.case_study_extra_information_right {
  grid-area: right-col;
  text-align: left;
}

.case_study_extra_information_right a{
  color: inherit;
}

.case_study_next_project__container {
  padding: 128px 32px 128px 32px;
  display: flex;
  /* Nutzt Flexbox, um die Elemente nebeneinander anzuordnen */
  justify-content: space-between;
  /* Platziert die Elemente am linken und rechten Rand des Containers */
}

.case_study_next_project {
  display: flex;
  /* Nutzt Flexbox für die Elemente links und rechts im Container */
  flex: 1;
  /* Vergrößert das Container-Element, um den verfügbaren Platz einzunehmen */
}

.case_study_next_project_left,
.case_study_next_project_right {
  flex: 1;
  cursor: pointer;
  /* Vergrößert die Elemente links und rechts, um den verfügbaren Platz einzunehmen */
}

.case_study_next_project_right p {
  margin-bottom: 8px;
}

.case_study_next_project_left p {
  margin-bottom: 8px;
}

.case_study_next_project_right {
  text-align: right;
  /* Rechtsbündige Ausrichtung des Textes im rechten Element */
}

.case_study_next_project_left h5 {
  transition: transform 0.3s ease;
  display: inline-block;
}

.case_study_next_project_left h5:hover {
  transform: translateX(16px);
}

.case_study_next_project_left h5::before {
  content: '';
  position: absolute;
  left: -16px;
  top: 54%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--white-color);
  /* Choose your desired circle color */
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.case_study_next_project_left h5:hover::before {
  opacity: 1;
}

.case_study_next_project_right h5 {
  transition: transform 0.3s ease;
  display: inline-block;
}

.case_study_next_project_right h5:hover {
  transform: translateX(16px);
}

.case_study_next_project_right h5::before {
  content: '';
  position: absolute;
  left: -16px;
  top: 54%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--white-color);
  /* Choose your desired circle color */
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.case_study_next_project_right h5:hover::before {
  opacity: 1;
}

.case_study_next_project_left h5 {
}


/* CASE STUDIES END */

@media screen and (min-width: 900px) and (max-width: 1366px) {
  /* Hier kannst du deine CSS-Regeln für den gewünschten Bereich hinzufügen */
  section.studies .study .study-icon .study-icon-img {
    width: 192px !important;
    height: 96px !important;
    border-radius: 0.5rem;
  }

  section.studies .study .study-category {
    display: none;
  }
}

.portrait-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 160px;
  text-align: center;
}

.portrait-lebenslauf-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Erstellt drei Spalten */
  gap: 24px; /* Abstand zwischen den Blöcken */
  margin: 0px 32px 0px 32px;
}

.portrait-lebenslauf-item {
  background-color: var(--white-color);
  padding: 32px; /* Innenabstand des Blocks */
  border-radius: 16px; /* Abgerundete Ecken */
}

.portrait-lebenslauf-item h4 {
  color: var(--black-color);
  margin-bottom: 32px;
} 

.portrait-lebenslauf-item h6 {
 color: var(--black-color);
 margin-bottom: 24px;
}

.portrait-lebenslauf-item ul {
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 24px;

}

.portrait-lebenslauf-item li {
  color: var(--black-color);
}

.portrait-leistungen-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Erstellt ein 12-Spalten-Grid */
  gap: 24px; /* Abstand zwischen den Spalten */
  margin: 0px 32px 96px 32px;
}

.portrait-leistungen-container .column-5 {
  grid-column: span 5; /* Spannt über 5 Spalten */
}

.portrait-leistungen-container .column-1 {
  grid-column: span 1; /* Spannt über 1 Spalte */
}

.portrait-leistungen-container .column-6 {
  grid-column: span 6; /* Spannt über 6 Spalten */
}

.portrait-leistungen-label-container  {
  display: flex;
  gap: 8px;
  margin-top: 24px;
  width: 100%;
}

.portrait-leistungen-label-container small  {
  padding: 8px 16px 8px 16px; /* Beispiel-Padding für die CTA-Elemente, passen Sie es nach Bedarf an */
  background-color: #353535; /* Beispiel-Hintergrundfarbe, passen Sie sie nach Bedarf an */
  color: var(--white-color); /* Beispiel-Textfarbe, passen Sie sie nach Bedarf an */
  display: inline;
  border-radius: 50px;
}

.portrait-leistungen-divider {
  border: 1px solid #353535;
  margin: 0px 32px 32px 32px;
}

.portrait-about-me {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Erstellt ein Grid mit 10 gleich breiten Spalten */
  gap: 24px; /* Abstand zwischen den Spalten */
  margin: auto; /* Zentriert den Container horizontal */
  margin: 0px 32px 128px 32px;
  align-items: center;
}

.portrait-about-me-text  {
  grid-column: 1 / 8; /* Nimmt die ersten 6 Spalten ein */
  text-indent: 96px;
}
.portrait-about-me-image {
  grid-column: 9 / 13; /* Nimmt die letzten 3 Spalten ein */
  text-align: center; /* Zentriert den Inhalt horizontal */
}

.portrait-about-me-image img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}

.portrait-leistungen-banner {
  position: relative;
  color: var(--white-color);
  overflow: hidden;
}

.portrait-leistungen-banner-inner {
  display: flex;
  width: fit-content;
  flex: auto;
  flex-direction: row;
}

.portrait-leistungen-banner-part {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 256px 0px;
}

.arrow {
  width: 32px;
  
  padding: 32px;
  transform: rotate(90deg);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.arrow.active {
  transform: rotate(-90deg);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.masonry-gallery {
  column-count: 3;
  gap: 24px; /* Ändere diesen Wert nach Bedarf */
  margin: 0px 32px 0px 32px;
}

.item {
  break-inside: avoid; /* Verhindert, dass einzelne Elemente über mehrere Spalten hinweg brechen */
  background-color: #E9E9E9;
  margin-bottom: 24px; /* Zeilenabstand von 24px */
  padding: 16px;
  border-radius: 16px;     
}

.item small {
  color: var(--black-color);
}

.item h5 {
  color: var(--black-color);
  margin-bottom: 24px;      
}

.item p {
  color: var(--black-color);
  margin-bottom: 24px;
}

.item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  
}


/* Add media queries for responsiveness if needed */


@media screen and (max-width: 900px) {

  .centered-container {
    display: flex; /* Container anzeigen, wenn Bildschirmbreite ≤ 900px */
  }

  .sticky-element {
    position: fixed;
    bottom: 24px;
    right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    mix-blend-mode: difference;
    transition: bottom 0.3s ease-in-out;
    /* Animation des Einfadens */
    bottom: -100px;
    /* Die Startposition unterhalb des Viewports */
    z-index: 9999;
  }

  .sticky-element.show {
    bottom: 24px;
    /* Die Position, wenn der Sticky-Button eingeblendet ist */
  }

  .white-circle {
    width: 48px;
    /* Passe die Größe des Kreises an */
    height: 48px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Bild über Kreisgrenzen hinaus ausblenden */
  }

  .sticky-image {
    width: 24px;
    height: auto;
    object-fit: cover;
    /* Bild im Kreis zentrieren und zuschneiden */
    border-radius: 50%;
  }

  h1 {
    color: var(--white-color);
    font-family: "EditorialNewUltralight";
    font-size: 48px;
    line-height: 56px;
  }

  h2 {
    --black-color: #141414;
    font-size: 48px;
    line-height: 56px;
    font-family: 'Neue Montreal';
  }

  h3 {
    color: var(--white-color);
    font-size: 40px;
    line-height: 48px;
    font-family: 'Neue Montreal';
    -webkit-font-smoothing: antialiased;
  }

  h4 {
    color: var(--white-color);
    font-size: 32px;
    line-height: 40px;
    font-family: 'Neue Montreal';
    -webkit-font-smoothing: antialiased;
  }

  h5 {
    color: var(--white-color);
    font-size: 24px;
    line-height: 32px;
    font-family: 'Neue Montreal';
    -webkit-font-smoothing: antialiased;
  }

  h6 {
    color: var(--white-color);
    font-size: 20px;
    line-height: 28px;
    font-family: 'Neue Montreal';
    -webkit-font-smoothing: antialiased;
  }

  p {
    color: var(--white-color);
    font-family: "Neue Montreal";
    font-size: 18px;
    line-height: 26px;
    -webkit-font-smoothing: antialiased;
  }

  li {
    color: var(--white-color);
    font-family: "Neue Montreal";
    font-size: 18px;
    line-height: 26px;
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: var(--white-color);
    font-family: "Neue Montreal";
    font-size: 18px;
    line-height: 26px;
    -webkit-font-smoothing: antialiased;
  }

  .h5-hidden {
    display: none;
  }

  .cta {
    font-family: "Neue Montreal";
    border: 1px solid var(--white-color);
    font-size: 16px;
    text-transform: uppercase;
    padding: 16px 24px 16px 24px;
    border-radius: 50px;
    color: var(--white-color);
    display: inline-block;
    transition: 0.3s;
  }

  .cta:hover {
    font-family: "Neue Montreal";
    border: 1px solid var(--black-color);
    font-size: 16px;
    text-transform: uppercase;
    padding: 16px 24px 16px 24px;
    border-radius: 50px;
    color: var(--black-color);
    display: inline-block;
    background-color: var(--white-color);
  }

  .image-wrapper img {
    display: block;
    max-width: 50%;
    height: auto;
  }

  .content-section {
    max-width: 100%;
    display: grid;
    padding: 80px 0px 0px 0px;
    margin: 0px 16px 0px 16px;
  }

  .content-section-detail {
    max-width: 100%;
    display: grid;
    padding: 32px 0px 64px 0px;
    gap: 0px;
    grid-template-columns: 1fr;
    /* A single column layout */
    grid-template-areas: none;
    /* Remove grid layout */
  }

  .content-section-information p {
    padding-bottom: 32px;
    text-indent: 96px;
  }


  .image-section {
    margin: 0px 16px 0px 16px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero {
    position: relative;
    height: calc(100vh);
    /*
    height: calc(100vh - 32px);
    margin: 16px;
    */
  }

  .hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /*
    border-radius: 8px;*/
  }

  .hero h1 {
    position: absolute;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
  }

  .hero h4 {
    position: absolute;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 16px;
  }

  .services-container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* Container-Inhalte umbrechen */
  }

  .left-half {
    width: 50%;
    padding: 96px 64px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
  }

  .right-half {
    width: 50%;
    padding: 96px 64px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 16px;
  }

  .content {
    display: block;
    /* Change to block to stack elements vertically */
  }

  .content .h3 {
    margin-bottom: 24px;
  }

  .content .h4 {
    margin-bottom: 16px;
  }

  .content .space {
    margin-bottom: 24px;
  }

  .content hr.services-divider {
    margin: 24px 0px 24px 0px;
    border: solid 1px var(--white-color);
  }

  .left-half {
    padding: 24px;
    /* Ändere das Padding für besseren Abstand auf kleinen Bildschirmen */
    background-color: white;
    color: black;
    border-radius: 16px 16px 0px 0px;
    order: 1;
    /* Ändere die Reihenfolge auf 1 (links) */
    width: 100%;
    order: unset;
    /* Setze die Reihenfolge zurück */
  }

  .right-half {
    padding: 24px;
    /* Ändere das Padding für besseren Abstand auf kleinen Bildschirmen */
    border: solid 1px #ffffff;
    border-radius: 0px 0px 16px 16px;
    order: 2;
    /* Ändere die Reihenfolge auf 1 (links) */
    width: 100%;
    order: unset;
    /* Setze die Reihenfolge zurück */
  }

  .menu__item-img {
    pointer-events: none;
    position: absolute;
    height: 10vh;
    max-height: 400px;
    opacity: 0;
    left: 100%;
    top: 50%;
    -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
    transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
  }

  .menu__item-link:hover+.menu__item-img {
    opacity: 1;
    -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
    transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }

  .slider {
    max-width: 100%;
    margin: 0px 0px 0px 16px;
  }

  .slider-item {
    display: inline-block;
    width: 70vw;
    padding-right: 8px;
  }

  .slider-item figure img {
    border-radius: 12px;
    position: relative;
    width: 100%;
    object-fit: cover;
  }

  footer {
    display: block;
    /* Remove the grid layout, stack elements vertically */
    row-gap: 32px;
    padding: 16px;
  }

  footer span {
    font-family: "EditorialNewUltralight";
    font-size: 18px;
    line-height: 26px;
    color: var(--black-color);
    -webkit-font-smoothing: antialiased;
  }

  .footer-section {
    margin: 160px 16px 160px 16px;
    max-width: 100%;
    text-align: center;
  }

  .footer-section-information {
    /* Set the container to be a flex container to allow the <p> elements to stand beside each other */
    display: flex;
    /* Add space between the <p> elements */
    gap: 32px !important;
    justify-content: center;
    padding: 64px 0px 64px 0px;
  }

  .contact-information-left,
  .contact-information-middle {
    display: block;
    /* Stack elements vertically */
    width: 100%;
    /* Optional: Make elements take full width on mobile */
    margin-bottom: 24px;
    /* Add margin to create space between the spans */
  }

  .contact-information-left span:last-child {
    margin-bottom: 0;
    /* Remove margin for the last span */
  }

  /* CASE STUY START */

  .case_study__container {
    margin: 0px 16px 0px 16px;
    max-width: 100%;
    position: relative;
    padding: 20vh 0 48px 0;
  }

  .case_study__container_headline {}

  .case_study__container_subheadline {
    margin: 16px 0 0 0;
    font-size: 18px;
  }

  .case_study_projects__container {
    margin: 0px 16px 0px 16px;
    max-width: 100%;
  }

  .case_study_projects_images img {
    width: 100%;
  }

  .case_study_information__container {
    max-width: 100%;
    display: grid;
    padding: 64px 16px 64px 16px;
    grid-template-columns: auto;
    grid-template-areas:
      "left-col"
      "right-col";
  }

  .case_study_information_divider__container {
    padding: 32px 0 32px 0;
    position: relative;
  }

  .case_study_information_left {
    grid-area: left-col;
    text-align: left;
  }

  .case_study_information_left h4 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  .case_study_information_left p {
    font-size: 20px;
    line-height: 28px;
  }

  .case_study_information_right {
    grid-area: right-col;
    text-align: left;

  }

  .case_study_information_right h4 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  .case_study_next_project_right p {
    margin-bottom: 8;
  }

  .case_study_next_project_left p {
    margin-bottom: 8;
  }

  .case_study_information_empty {
    grid-area: empty-col;
    text-align: left;
  }

  .case_study_information_divider__container {
    padding: 16px 0 16px 0;
    position: relative;
  }

  .case_study_images__container {
    padding: 0px 16px 0px 16px;
    max-width: 100%;
    row-gap: 16px;
    display: flex;
    flex-wrap: wrap;
  }

  .case_study_videos__container {
    padding: 0px 16px 0px 16px;
    margin: 16px 0 0 0;
    max-width: 100%;
    column-gap: 32px;
    display: grid;
    flex-wrap: wrap;
  }

  .case_study_extra_information__container {
    max-width: 100%;
    display: grid;
    padding: 64px 16px 64px 16px;
    gap: 0;
    grid-template-columns: auto;
    grid-template-areas:
      "left-col"
      "right-col"
      "empty-col";
  }

  .case_study_next_project__container {
    max-width: 100%;
    padding: 64px 16px 64px 16px;
    gap: 0;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas:
      "left-col left-col left-col left-col left-col left-col right-col right-col right-col right-col";
  }

  .case_study_images__50_50 {
    grid-template-columns: 1fr;
    /* Ein Bild pro Zeile */
    column-gap: 0px;
    /* Kein seitlicher Abstand */
    padding: 0px 16px 0px 16px;
    row-gap: 16px;
    /* 16px Abstand zwischen den Bildern */
    margin-top: 16px;
  }

  section.studies .study {
    max-width: 100%;
    margin: 32px 16px 32px 16px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  section.studies .study .study-category {
    display: none;
  }

  section.studies .study .study-year {
    display: none !important;
  }

  section.studies .study .study-icon .study-icon-img {
    width: 96px !important;
    height: 96px !important;
    border-radius: 0.5rem;
  }

  section.studies .study .study-name {}

  section.studies hr {
    max-width: 100%;
    margin: 0px 16px 0px 16px !important;
  }

  .lab-section-divider-top {
    margin: 0px 16px 16px 16px;
    max-width: 100%;
  }

  .lab-section-divider-middle {
    margin: 16px 16px 16px 16px;
    max-width: 100%;
  }

  .lab-section-divider-end {
    margin: 0px 16px 16px 16px;
    max-width: 100%;
  }

  .lab-section {
    grid-template-columns: 1fr;
    display: block;
    /* 1 Spalte für die mobile Ansicht */
    margin: 0px 16px 0px 16px;
  }

  .lab-section-publish {
    margin-bottom: 48px;
  }

  .lab-section-description {
    margin-bottom: 24px;
  }

  .lab-section-title h3 {
    margin-bottom: 48px;
  }

  .lab-section-title h5 {
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  .image-container-small {
    grid-template-columns: 1fr;
    /* Einzelne Spalte in der mobilen Ansicht */
    margin: 16px 0px 0px 0px;
    gap: 16px;
  }

  .image-container-small-extra {
    grid-template-columns: 1fr;
    /* Einzelne Spalte in der mobilen Ansicht */
    margin: 16px 0px 16px 0px;
    gap: 16px;
  }
  
  
  .image-container-big {
    grid-template-columns: 1fr;
    /* Einzelne Spalte in der mobilen Ansicht */
    margin: 16px 0px 0px 0px;
    gap: 16px;
  }

  .button-icon {
    width: 24px;
    /* Set the width as needed */
    height: 24px;
    /* Set the height as needed */
    /* Additional styles as needed */
  }

  .header__button {
    z-index: 2;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    background-color: var(--white-color);
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin: 16px;
    outline: none;
    animation-duration: 300ms;
    animation-timing-function: ease;
    position: fixed;
    mix-blend-mode: difference;
  }

  .projekte_container {
  display: grid;
  grid-template-columns: 1fr !important;
  gap: 24px;
  row-gap: 32px;
  margin: 16px !important;
  }

  .projekte_container img {
    width: 100%;
    margin-bottom: 8px;
    border-radius: 8px !important;
    transition: all ease 0.3s;
  }

  .impressum_datenschutz_container {
    max-width: 100%;
    display: block;
    margin: auto;
    display: grid;
    margin: 32px;
  }

  .portrait-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 64px 16px 64px 16px;
    text-align: center;
  }

  .portrait-about-me {
    display: block; /* Ändern Sie die Anzeige auf block, um die Elemente untereinander anzuzeigen */
    margin: 0px 16px 0px 16px;
  }

  .portrait-about-me-text  {
    margin-bottom: 24px;
    text-indent: 0px;
  }
  .portrait-about-me-image {
    margin-bottom: 48px;
  }
  
  .portrait-about-me-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .portrait-lebenslauf-container {
    grid-template-columns: 1fr; /* Eine Spalte auf Mobilgeräten */
    margin: 0px 16px 0px 16px;
  }

  .portrait-lebenslauf-item {
    padding: 16px;
    border-radius: 8px;
  }

  .portrait-lebenslauf-item h4 {
    margin-bottom: 16px;
  }

  .portrait-lebenslauf-item h6 {
    margin-bottom: 8px;
  }



  .portrait-leistungen-banner-part {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 64px 0px;
  }

  .portrait-leistungen-container {
    grid-template-columns: repeat(1, 1fr); /* Einzelne Spalte für mobile Geräte */
    margin: 0px 16px 48px 16px; /* Reduzieren Sie den Rand für mobile Geräte */
    gap: 16px;
  }

  .portrait-leistungen-container .column-5,
  .portrait-leistungen-container .column-1,
  .portrait-leistungen-container .column-6 {
    grid-column: auto; /* Zurücksetzen auf automatische Spaltenbreite */
  }

  .portrait-leistungen-label-container {
    display: block;
    margin-top: 16px;
  }

  .portrait-leistungen-label-container small {
      display: inline-block; /* Ändern Sie die Anzeige auf block, um die Elemente untereinander anzuzeigen */
      margin-bottom: 8px; /* Fügen Sie etwas Abstand zwischen den Elementen hinzu */
  }

  .portrait-leistungen-divider {
    margin: 0px 16px 16px 16px;
  }

  .masonry-gallery {
    column-count: 1; /* Ändere die Spaltenanzahl für mobile Geräte auf 1 */
    margin: 0px 16px 0px 16px;
  }
  
  .item {
    break-inside: auto; /* Ändere das Verhalten der Elemente auf automatischen Umbruch */
    margin-bottom: 16px;
  }

  .item small {
    color: var(--black-color);
  }
  
  .item h5 {
    color: var(--black-color);
    margin-bottom: 16px;
  }
  
  .item p {
    color: var(--black-color);
    margin-bottom: 16px;
  }
  
  .item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  /* CASE STUDY END */
}

/* studies */
section.studies {
  width: 100%;
}

section.studies hr {
  max-width: 100%;
  margin: 0px 32px 0px 32px;
}

section.studies .study {
  max-width: 100%;
  margin: 48px 32px 48px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.studies .study>div {
  padding: 0px 32px 0px 0px;
}

section.studies .study .study-category {
  flex: 2;
}

section.studies .study .study-icon {
  flex: 2;
}

section.studies .study .study-icon .study-icon-img {
  width: 256px;
  height: 128px;
  background: var(--white-color);
  border-radius: 8px;
  transition: all 0.3s;
}

section.studies .study .study-name {
  flex: 10;
  text-transform: uppercase;
  position: relative;
  transition: transform 0.3s ease;
  cursor: pointer;
}

section.studies .study .study-name:hover {
  flex: 10;
  text-transform: uppercase;
  transform: translateX(16px);
}

section.studies .study .study-name::before {
  content: '';
  position: absolute;
  left: -16px;
  top: 45%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.3s ease;
}

section.studies .study .study-name:hover::before {
  content: '';
  opacity: 1;
  transform: translateX(-8px);
}


section.studies .study .study-year {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  /* Hier wird die Ausrichtung nach rechts festgelegt */
}

#project-1 {
  background: url("../img/lab/neue_welt_vol1_thumbnail.webp") no-repeat 50% 50%;
  background-size: cover;
}

#project-2 {
  background: url("../img/lab/neue_welt_vol2_thumbnail.webp") no-repeat 50% 50%;
  background-size: cover;
}

#project-3 {
  background: url("../img/lab/marc_miller_dark_times_thumbnail.webp") no-repeat 50% 50%;
  background-size: cover;
}

#project-4 {
  background: url("../img/lab/poster_challenges_thumbnail.webp") no-repeat 50% 50%;
  background-size: cover;
}

#project-6 {
  background: url("../img/lab/animations_challenges_thumbnail.webp") no-repeat 50% 50%;
  background-size: cover;
}

nav {
  box-sizing: border-box; /* Include padding and border in the element's total width */
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 32px;
  color: #fff;
  z-index: 1;
  mix-blend-mode: difference;
}

.logo {
  cursor: pointer;
}

.menu-logo {
  cursor: pointer;
}

.menu-open-btn {
  cursor: pointer;
}

.menu-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 32px;
  background: rgba(255, 255, 255, 0.90);pointer-events: none;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  z-index: 1000 !important;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -ms-backdrop-filter: blur(5px);
  box-sizing: border-box; /* Include padding and border in the element's total width */
}

.menu-nav {
 display: flex;
 justify-content: space-between;
 margin-bottom: 1em;
}

.menu-close-btn {
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
 }

.menu-nav p {
  color: var(--black-color);
 }

.menu-cols {
  display: flex;
}

.menu-cols > div {
  flex: 1;
  padding: 1em 0;
}

.video {
  width: 50%;
}

.video-preview {
  width: 100%;
  background: url(../img/bidt_installation.webp) no-repeat 50% 50%;
  background-size: cover;
  border-radius: 8px;
  cursor: pointer;
}

.video-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
}

.video-details p {
  color: var(--black-color);
  cursor: pointer;
}

.video-details p {
  color: var(--black-color);
  transition: transform 0.3s ease;
}

.video-details p:hover {
  transform: translateX(16px);
}

.video-details p::before {
  content: '';
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--black-color);
  /* Choose your desired circle color */
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.video-details:hover p::before {
  opacity: 1;
}

.menu-link {
  position: relative;
  width: max-content;
  cursor: pointer;
}

.menu-link h4 {
  color: var(--black-color);
  transition: transform 0.3s ease;
}

.menu-link h4:hover {
  transform: translateX(16px);
}

.menu-link h4::before {
  content: '';
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--black-color);
  /* Choose your desired circle color */
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.menu-link:hover h4::before {
  opacity: 1;
}

.navigation-cta a {
  color: inherit;
  text-decoration: none;
}

.menu-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu-divider {
  width: 0%;
  height: 1px;
  background: var(--black-color);
  margin: 1em 0;
}

.menu-footer-copy {
  display: flex;
  justify-content: space-between;
}

.socials {
  display: flex;
  gap: 32px;
  cursor: pointer;
}

.socials p {
  color: var(--black-color);
}

.slogan p {
  color: var(--black-color);
}

@media(max-width: 900px) {
  nav {
    padding: 16px;
  }

  .video {
    width: 100%;
  }

  .menu-overlay {
      height: 100vh;
      padding: 16px;
  }

  .menu-cols {
      display: block;
  }

  .socials {
    display: flex;
    gap: 16px;
  }

  .menu-footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
  } 
}

.projekte_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  row-gap: 32px;
  margin: 32px;
}

.projekte_container img {
  width: 100%;
  margin-bottom: 8px;
  border-radius: 16px;
  transition: all ease 0.3s;
}

.projekte_container img:hover {
  width: 100%;
  margin-bottom: 8px;
  border-radius: 32px;
}

.projekte_container p {
  color: var(--white-color);
}

.impressum_datenschutz_container {
  max-width: 100%;
  display: block;
  margin: auto;
  display: grid;
  margin: 32px;
}

.impressum_datenschutz_container h2 {
  color: var(--white-color);
}

.impressum_datenschutz_container a {
  color: var(--white-color);
}

.before-after-container {
  position: relative;
  overflow: hidden;
}

.before-image,
.after-image {
  width: 100%;
  height: auto;
  display: block;
}

.slider-handle {
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #3498db;
  cursor: ew-resize;
}

